@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --discovert-width: 12rem;
    --discovert-height: 3rem;
}

main {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 49%, rgb(252, 214, 160) 51%);

    .card {
        position: absolute;
        left: 30vw;
        top: 27.5vh;
        height: 45vh;
        width: 40vw;
        background-color: #F5F5F0;
        display: flex;
        align-items: center;
        box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.267);
        cursor: default;

        img {
            width: 40%;
            margin-left: 5%;
        }

        .desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 95%;
            margin-top: 5%;
            color: #333333;
            padding: 0 2rem;

            h2 {
                font-size: 3.5rem;
                font-weight: 500;
                margin: 1rem 0;
            }

            p {
                font-size: 1.4rem;
                font-weight: 500;
            }

            #pOne {
                margin-bottom: 1rem;
            }
        }
    }

    #discovert {
        width: var(--discovert-width);
        height: var(--discovert-height);
        position: absolute;
        left: calc(50vw - var(--discovert-width) / 2);
        top: 80vh;
        background-color: #FF6F61;
        font-family: 'montserrat', sans-serif;
        border-radius: 100rem;
        color: white;
        font-size: 1.4rem;
        font-weight: 700;
        border: 2px solid #A1473F;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    #discovert:hover {
        background-color: #d1594e;
        transition: all 0.3s ease;
    }
}

main>#under {
    margin-top: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(255, 234, 204, 1) 95%, rgba(255, 255, 255, 1) 96%);
    padding-top: 10vh;

    h2 {
        font-size: 5rem;
        font-weight: 600;
        width: 100%;
        text-align: center;
        color: #333;
    }
}

.languages {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 100vh;
}

.language {
    width: 65vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 18vw;
    }

    .text {
        background-color: #F5F5F0;
        width: 28vw;
        box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
        height: 28vh;
        display: grid;
        place-items: center;

        p {
            font-size: 1.75rem;
            font-weight: 700;
            padding: 0rem 3rem;
            color: #482B1D;
            text-align: center;
        }
    }
}